body {
	background: #f8f9f9;
}

.main {
	padding-top: 105px;
	margin-bottom:105px;
}


h1{
	color: #262626;
	font-size: 42px;
	font-weight: 400;
  font-family: 'Open Sans', sans-serif;
	line-height:48px;
}

h2{
	color: #262626;
	font-size: 36px;
	font-family: 'Open Sans', sans-serif;
}

h3{
	color: #262626;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}

h4 {
  color: #fff;
}

a{
	font-weight: 200;
	padding: 5px;
  font-family: 'Open Sans', sans-serif;
}

p{
	font-size: 16px;
}


.container {
  margin-right: auto;
  margin-left: auto;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.home {
  margin-top: 8.5rem;
}

.masthead-brand-home h3{
  color: #fff;
}

.home h1 {
	color: #fff;
}

.hometitle h3 {
	color:#fff;
}

.btn-link{
	color: #fff;
  font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.btn-link:hover {
	 opacity: .6;
	 color: #fff;
	font-weight: bold;
	 text-decoration: none;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #000;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #000;
  border-bottom-color: #64B3F4;
}

@media (min-width: 2em) {
  .masthead-brand {
		text-align:center;
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

/* Footer */

.mastfoot {
	 position: fixed;
	 bottom: 0;
 }

 .mastfoot {
	 width: 100%; /* Must be percentage or pixels for horizontal alignment */
 }

 .site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
	text-align:center;
}

/* Background video */

.fullscreen-bg {
	opacity: .7;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../images/home.png') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }

		h1 {
			font-size: 32px;
			line-height:32px;
		}
}

/* button */
.btn-sm {
	padding: .0rem .5rem;
}

/* card */

.card {
	border: none;
	margin-bottom: 10px;
	  border-radius: 0px;
	-webkit-transition: 0.2s all ease-in;
	-moz-transition: 0.2s all ease-in;
	-o-transition: 0.2s all ease-in;
}

.card:hover {
}

.card-header {
	border: 1px solid #e1e2e3;
  border-radius: 5px;
	cursor: pointer;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);;
}

.card-header:hover {
	-webkit-transition: 0.05s all ease-in;
	-moz-transition: 0.05s all ease-in;
	-o-transition: 0.05s all ease-in;
}

.card-header:active/:hover{
	background: #EDF8FF;
}

.card .card-body {
	border: 1px solid rgba(0,0,0,.125);
}

.right {
	float:right;
}

.rotate{
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
}

.rotate.down{
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.card-header[aria-expanded=true] .fa-chevron-right {
   display: none;
}
.card-header[aria-expanded=false] .fa-chevron-down {
   display: none;
}

.signifier {
	width:20px;
	float:left;
}

.progress{
  margin-bottom: 20px;
  margin-right: 5px;
}
.stepclick {
	cursor: pointer;
	color: #fff!important;
}

.clickable {
	cursor: pointer;
}

strong {
  font-weight: bolder;
  font-size: 20px;
}

#addStepButton {
}

#addCard {
}